<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">

    </div>
</div>

<div class="card card-small mb-4">
    <div class="card-header border-bottom">
        <h6 class="m-0">Информация</h6>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-0 px-3 pt-3">
            <nav class="nav" style="margin-top:-18px;">
                <a class="nav-link active" href="/home/InformationEdit">Текстовая информация</a>
                <a class="nav-link" href="/home/BrowserEditor">Браузерная ссылка</a>
                <a class="nav-link" href="#">Изображение</a>
                <a class="nav-link" href="#">Видео ссылка</a>
                <a class="nav-link" href="#">Секции</a>
                <a class="nav-link" href="#">Новостная лента</a>
            </nav>
        </li>
        <li class="list-group-item p-0 px-3 pt-3">
            <div class="col-sm-12 col-md-12 mb-12">
                <strong class="text-muted d-block my-2">Управление</strong>
                <button type="button" class="mb-2 btn btn-primary mr-2">Добавить</button>
            </div>
        </li>
        <li class="list-group-item p-0 px-3 pt-3">
            <div class="col-sm-12 col-md-12 mb-12">
                <div class="row">
                    <div class="card card-small mb-3">
                        <div class="card-header border-bottom">
                            <h6 class="m-0">Ссылка 1</h6>
                        </div>
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-3 pb-2">
                                    <span class="d-inline-block">
                                        <a class="text-fiord-blue" href="#">ya.ru</a>
                                    </span>
                                </li>
                                <li class="list-group-item d-flex px-3">
                                    <div class="dropdown">
                                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Управление
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <button class="dropdown-item" type="button">Изменить</button>
                                            <button class="dropdown-item" type="button">Снять с публикации</button>
                                            <button class="dropdown-item" type="button">Удалить</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

