<div class="page-header no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">

    </div>
</div>
<div class="card card-small mb-4">
    <div class="card-header border-bottom">
        <h6 class="m-0">Презентации</h6>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-0 px-3 pt-3">
            <nav class="nav" style="margin-top:-18px;">
                <a class="nav-link active" href="/home/InformationEdit">Текстовая информация</a>
                <a class="nav-link" href="/home/BrowserEditor">Браузерная ссылка</a>
                <a class="nav-link" href="#">Изображение</a>
                <a class="nav-link" href="#">Видео ссылка</a>
                <a class="nav-link" href="#">Секции</a>
                <a class="nav-link" href="#">Новостная лента</a>
            </nav>
        </li>
        <li class="list-group-item p-0 px-3 pt-3">
            <div class="col-sm-12 col-md-12 mb-12">
                <strong class="text-muted d-block my-2">Управление</strong>
                <button type="button" class="mb-2 btn btn-primary mr-2">Добавить</button>
            </div>
        </li>
        <li class="list-group-item p-0 px-3 pt-3">
            <div class="col-sm-12 col-md-12 mb-12">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="card card-small card-post h-100">
                            <div class="card-post__image" style="background-image: url('http://visit-spb.com/images/cms/thumbs/a5b0aeaa3fa7d6e58d75710c18673bd7ec6d5f6d/osen_piter_180_auto.jpg');"></div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a class="text-fiord-blue" href="#">Школьные туры</a>
                                </h5>
                                <p class="card-text">Туры в Санкт-Петербург для школьников – это хорошая возможность познакомить детей с достопримечательностями и историей...</p>
                            </div>
                            <div class="card-footer text-muted border-top py-3">
                                <div class="dropdown">
                                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Управление
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <button class="dropdown-item" type="button">Изменить</button>
                                        <button class="dropdown-item" type="button">Снять с публикации</button>
                                        <button class="dropdown-item" type="button">Удалить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>